
header {
    background-color: $brand-purple;
    .container {
        height: 119px;
        @include header;
        nav {
            @include centralizar;
            .help {
                padding-right: 56px; 
                @include p-white(1.6rem, 19px);
                img {
                    padding-right: 1.6rem;
                    display: inline-block;
                }
            }
            .bold-aviso {
                @include p-white-bold(1.6rem);
                img {
                    padding-right: 1.6rem;
                    display: inline-block;
                }
            }
        }
    }
}