.s-hero {
  background-color: $brand-purple;
  margin-top: 0.25rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .textos {
      width: 100%;
      max-width: 55rem;
      padding-top: 3.9rem;
      h1 {
        @include h1;
        margin-bottom: 1.6rem;
      }
      p {
        margin-bottom: 3.2rem;
        @include p-white(1.8rem, 150%);
      }
      button {
        margin-bottom: 8rem; 
        @include config-buttom;
      }
      a {
        display: flex;
        img {
          width: 4.2rem;
          height: 4.2prem;
          background: $bg-seta;
          border-radius: 6px;
        }
        span {
          display: flex;
          align-items: center;
          text-align: center;
          padding-left: 1.6rem;
          @include p-white-bold(1.6rem);
        }
      }
    }
  }
  .imagem {
    position: relative;
    top: 3.9rem;  
  }
  @include responsive(991px) {
    .container {
      flex-direction: column;
    }
    .textos {
      max-width: 100% !important;
      margin-bottom: 3rem;
      h1 {
        text-align: center;
      }
      p {
        max-width: 100%;
        text-align: center;
      }
      button {
        margin: auto;
        margin-bottom: 4rem;
        display: block;
      }
      a {
        justify-content: center;
      }
    }

  }
}
