$brand-purple: #5f3ca1;
$secondary-yellow: #ffbf00;
$white-text: #fcfcfc;
$purple-text: #5f3ca1;
$gray-text: #5e5570;
$gray-title: #453F51;
$bg-cards:#C5BEDC;
$bg-cards-opaco: rgba(197, 190, 220, 0.1);
$bg-seta:#7B5ABA;